pgsql_url=postgresql+asyncpg://localhost:5432/db_project
redis_url=redis://localhost:6379/0
DEBUG=True
PORT=8001
LOGFILE_OUTPUT=True
DOCS_URL=/docs
OPENAPI_URL=/openapi.json
KAFKA_BOOTSTRAP_SERVERS=localhost:9092
ENCRYPTION_ENABLED=True
ENCRYPTION_TYPE='AES'
